bin/
obj/
.vs/
.vscode/
TestResults/
packages/
artifacts/
publish/

*.user
*.suo
*.rsuser
*.nupkg
*.snupkg

src/**/AppPackages/
src/**/BundleArtifacts/
packaging/**/*.msix
packaging/**/*.msixbundle
packaging/**/*.cer
packaging/**/*.pfx

*.log
