# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.12.0.schema.json
PackageIdentifier: PlotnikovDL.AdminConsoleFor1C
PackageVersion: @VERSION@
PackageLocale: ru-RU
Publisher: PlotnikovDL
PublisherUrl: https://github.com/PlotnikovDL
PublisherSupportUrl: @REPOSITORY_URL@/issues
PackageName: Центр администрирования 1С
PackageUrl: @REPOSITORY_URL@
License: MIT
LicenseUrl: @REPOSITORY_URL@/blob/v@VERSION@/LICENSE
ShortDescription: Управление службами и сеансами серверов 1С разных версий.
Description: |-
  Windows-приложение на WinUI 3 для администрирования серверов 1С.
  Регистрация и удаление локальных служб, просмотр процессов, подключение
  к локальным и удалённым серверам, просмотр и завершение сеансов.
  Компоненты платформы 1С не входят в дистрибутив.
Tags:
- 1c
- administration
- services
- sessions
- winui
ReleaseNotesUrl: @REPOSITORY_URL@/releases/tag/v@VERSION@
ManifestType: defaultLocale
ManifestVersion: 1.12.0
